[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "eigen-cuda-utility"]
	path = eigen-cuda-utility
	url = git@github.com:fabricatedmath/eigen-cuda-utility.git
